<%- include('layout/header') %>
    <div class="container">
      <div class="row my-4">
        <div class="col-lg-12">
          <% if (message) { %>
           <div class="alert alert-dismissable fade show alert-<%- message.type %>" role="alert">
          <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
          <strong><%= message.message %></strong>
        </div>
          <% } %>
          <div class="table-responsive">
            <table class="table table-striped text-center">
              <% if (members != '') { %>
               <thead>
                <tr class="table-dark">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
               </thead>
               <tbody>
                <% members.forEach((member, index) => { %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= member.name %></td>
                  <td><%= member.email %></td>
                  <td><%= member.status %></td>
                  <td>
                    <a class="text-success" href="/edit/<%= member._id %>"><i class="fas fa-edit fa-lg mx-1"></i></a>
                    <a class="text-danger" href="/delete/<%= member._id %>"><i class="fas fa-trash fa-lg mx-1"></i></a>
                  </td>
                </tr><% }); %>
               </tbody> 
               
            </table>
            <% } else { %>
              <p class="text-center text-secondary mt-5">No member data available</p>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
